  {% include "../header.html" %}
  <script src="../../js/guide.js"></script>
    <div class="row">
      <div class="col s8">
        <h1 id="guide-title"><a href="https://www.reddit.com/r/Twitch/comments/48udzy/guide_on_finding_people_to_stream_with/">Guide on "Finding people to stream with."</a></h1>
      </div>
      <div class="col s4">
        <span id="author-tagline"><p>Author: </p> <img src="../../img/helper.png" title="Subreddit Community Helper" id="flair-img"> <a href="/authors/zcotticus">Zcotticus</a></span>
      </div>
      <div class="col s12" id="guide-body">
        <p>I've seen this question come up time and time again, so I decided to write a post with some standard advice to finding someone to stream with.  </p>
        <p>Try to follow the rule of "I'll never ask a stranger, or someone I don't really know, to stream with me"  </p>
        <p>You don't walk up to a stranger and say "Let's spend some time together" cause that's weird and they'll say no. If they say yes, they might not have the best intentions.  </p>
        <p>First step is that you have to find a potential stream partner. You can find some people here on the subreddit. If you see someone being helpful or friendly go check out their channel. You can also look in the directory of the specific game you want to play.  </p>
        <p>I've seen people say "There isn't enough support for smaller streamers" but those people aren't active in smaller streams themselves! Be that support and you'll find a lot of people that you'll want to hang out with. Don't try and team up with huge partnered streamers, it's not gonna happen for a variety of reasons.  </p>
        <p>Once you've found a potential ~victim~ partner, spend some time lurking in their channel, see if you like their content and attitude/personality. If you do, come out of lurk and say hi. Come back regularly, be active and friendly. Host them and Tweet out that you're hosting them. Make sure you tag them.<br>
           They'll know that you stream from this alone and think "That friendly active guy in my chat streams and host me. That's awesome."
        </p>
        <p>When you then PM them on Twitch/twitter/discord or wherever, you're in a much better position.<br>
           That message should look something like:
        </p>
        <blockquote>
           <p>"Hey Zcotticus, I've been hanging out in your stream for a <strong>few weeks</strong> now, and love your content and attitude. I also stream and was wondering if you'd like to stream Solitaire together sometime. I normally stream from 0001-0002 Martian time, but have a little flexibility for streaming together!  </p>
           <p>I'd love if you stopped by the stream to see if you would also like to team up!  </p>
           <p>GLHF<br>
              Z"
           </p>
        </blockquote>
        <p>There are some important point and things you should remember:  </p>
        <ul>
           <li>Don't ask someone who is a stranger<br></li>
           <li>Don't ask someone you are a stranger to<br></li>
           <li>A few hours in a stream is not long enough for them to get to know you and for you to get a good idea of who they are. This is why I put <strong>a few weeks</strong> in bold.<br></li>
           <li>Larger partnered streamers are often not a good person to approach. It's harder for them to get to know you since there are so many other people in chat, and they potentially have a number of other reasons that they won't stream with you.<br></li>
           <li>Be polite and professional when approaching the broadcaster<br></li>
           <li>Be polite and professional when the reply, regardless of the response.<br></li>
           <li>Make sure you are actively chatting in their chat. They won't get to know you otherwise.<br></li>
           <li>Do not approach a streamer purely based on their viewer/follower count<br></li>
        </ul>
        <p>If your focus is "I'm gonna get lot's of viewers and followers from this person" then you are doing this for the entirely wrong reasons. All the people I've invited to stream with me in the past have been invited on two main qualities:  </p>
        <ol>
           <li>They are a nice person. They are friendly, funny, polite and all that other good stuff. That's a person I want to be around and that I feel can be a positive force within my community.<br></li>
           <li>They produce great content. I believe that they can entertain my community, and that's part of the reason we are here, for entertainment.<br></li>
        </ol>
        <p>Ideally they fit both of these. These are also the kinds of people that I choose to host, and also the people that I follow and watch myself!  </p>
        <hr>
        <p>I hope that this post give you a good idea of how to approach this. Key thing to remember is "Stranger Danger" <a href="#Kappa" class="imgScanned"></a>  </p>
        <p>The broadcaster is going to be broadcasting your audience, so you want to be sure that they are right for you and your community.  </p>
        <p>If you have any questions, you can ask below or hit me up on discord if you wanna chat privately! <a href="#OpieOP" class="imgScanned"></a>  </p>
        <p>GLHF<br>
           Z
        </p>
      </div>
    </div>
  </body>
</html>
