  {% include "../header.html" %}
  <script src="../../js/guide.js"></script>
    <div class="row">
      <div class="col s8">
        <h1 id="guide-title"><p>How to be Entertaining</p></h1>
      </div>
      <div class="col s4">
        <span id="author-tagline"><p>Author: </p> <img src="../../img/staff.png" title="Twitch Staff" id="flair-img"> <a href="/authors/thegunrun">TheGunRun</a></span>
      </div>
      <div class="col s12" id="guide-body">
        <ol>
           <li>
              <p><strong>Create a dialogue!</strong> Talk to your audience, don’t just sit there. Call some friends on Skype, promote them to moderators in your chat, and interact with your viewers!</p>
           </li>
           <li>
              <p><strong>Get them in and KEEP them in!</strong> Just tweeting about your stream being live isn’t enough to get and retain viewers. You have to entertain others, not just yourself. A few ways people do this is through self commentary (the Artosis method). Vocalize your thoughts as you play, drop some knowledge bombs. Research cool bits of info about the game you're playing (off-stream) and share it with your viewers while streaming. Think of it as a conversation starter.</p>
           </li>
           <li>
              <p><strong>Encourage people to follow you!</strong> Don't be shy! If you want followers, ASK FOR THEM. Just don't overkill it by saying it every 5 minutes. Tell your viewers the benefits of following. The follow feature on Twitch can be really handy to figure out when your favorite streamers go live (email notifications!), so give your viewers a nice reminder once in a while. The same can be said about your Twitter and Facebook.</p>
           </li>
           <li>
              <p><strong>Entertain people with your 1337 skills!</strong> Be good at the game. Or make fun of how bad you are. Convey that incredible sense of disappointment as you forget to research ling speed, or when you don’t hold down shift when using Sand King’s ult with the blink dagger.</p>
           </li>
           <li>
              <p><strong>Spread the news!</strong> You’re probably part of a gaming community, frequenting gaming message boards, forums, and subreddits. Make sure you promote yourself and your stream. Just be sure to follow their rules so you're not seen as too spammy!</p>
           </li>
           <li>
              <p><strong>Don’t “just stream” a game!</strong> Set goals and milestones for yourself. If you’re playing a multi-player game, actively improve a specific part of your gameplay or go for a crazy kill-streak. If you’re playing a single player game, a speed-run or 100% completion. Hell, I’d die to watch a Far Cry 2 perma-death run on stream.</p>
           </li>
           <li>
              <p><strong>BE AUTHENTIC!</strong> Just keeping that frustration in illegitimizes the experience for your viewers, expressing emotion is the best! There's a reason PJSalt is a global (i.e. FREE) emote! <sup>_^</sup></p>
           </li>
           <li>
              <p><strong>Throw out some shout-outs!</strong> Notice someone in chat being really helpful? Funny? Knowledgeable? Let that clever chatter feel at home and validated while watching your stream by shouting them out and encourage the rest of your chat to acknowledge them with a thanks or an emote wall!</p>
           </li>
           <li>
              <p><strong>Webcams are always a plus!</strong>  Show off how good your gamer hardware is in the field. Get those facial expressions in there too and really convey that emotion. Prove that you’re not in anyway tool assisted.</p>
           </li>
        </ol>
      </div>
    </div>
  </body>
</html>
