  {% include "../header.html" %}
  <script src="../../js/guide.js"></script>
    <div class="row">
      <div class="col s8">
        <h1 id="guide-title"><a href="https://www.reddit.com/r/Twitch/comments/1n64pb/kanthes_guide_to_moderating_v2/">Kanthes' guide to moderating v2</a></h1>
      </div>
      <div class="col s4">
        <span id="author-tagline"><p>Author: </p> <img src="../../img/admin.png" title="Twitch Admin" id="flair-img"> <a href="/authors/kanthes">Kanthes</a></span>
      </div>
      <div class="col s12" id="guide-body">
        <p><strong>Good evening!</strong></p>
        <p>My name is Per "Kanthes" Mattsson. I'm a moderator on some of the largest streams on Twitch. I've been moderating for about half a year at the time of writing this post, and I'm constantly striving to improve the Twitch community and help the users of this great service! During my time I've learned some things from other moderators, figured others out on my own, and gained a lot of experience in moderating many types of streams.</p>
        <p>To begin with, I like to think that there are 3 types of streams:</p>
        <p><strong>Small broadcasters</strong></p>
        <p>These are the streams where you usually don't have more than a few hundred viewers, at the most. Generally, they're very close knit communities, and don't require much moderation at all. You'll get the occasional spambot &amp; offensive personality, so it's good to have at least 1 moderator on duty at all times.</p>
        <p>The main task of a moderator on a smaller stream will be to answer questions &amp; discourage sensitive topics of discussion.</p>
        <p><strong>Large broadcasters</strong></p>
        <p>These are generally the more popular players in pro gaming teams, with viewers ranging from anywhere between 500 and 30k. There's not as much interaction between people in the chat itself, and you get a whole lot more trolls, spam, and hatespeech. These are the type of streams that require the highest amount of focus from the moderators, as the chat will at times be moving too quickly to be easily read/moderated, yet not quick enough to be ignored as it'll have passed too quickly.</p>
        <p>It's at this point that a bot starts becoming very, very useful.</p>
        <p><strong>Events</strong></p>
        <p>Events are the tournaments and huge events that draw massive amounts of viewers, ranging anywhere between 50-500k. Interaction between viewers is near non-existent, as generally high slowmodes are a must, not to mention how quickly the chat will be scrolling past.</p>
        <p>For events like these, having a well configured bot is an absolute must. Chat moderators will mainly be removing spamwaves the bots aren't configured to take care of, and answering questions.</p>
        <hr>
        <p><strong>Be patient.</strong></p>
        <p>This applies to Large broadcasters and above. Due to the constant influx of new viewers a stream of that size will get, the same question will be asked, and the same rule will be broken, over and over again. As a moderator, you must be patient and understand this fact. </p>
        <p>Never allow yourself to burst out towards your viewers with sentences like "OH MY GOD STOP ASKING THAT!", etc. As a moderator, you must be a role model of a viewer. This does not mean impeccable grammar, but rather to not spam, troll (in an annoying way), or type in full caps among other things. This will make the viewers respect you.</p>
        <p>Saying that, don't be afraid to use a stern voice sometimes. But do it in a graceful manner.</p>
        <hr>
        <p><strong>Find out the rules, and enforce them.</strong> </p>
        <p>You can find the rules from either a more senior moderator, or by contacting the streamer him/herself. It's always good to add in the rules into a command or the profile of the streamer, so that you have something to point to when people break them.
           When it comes down to enforcing the rules, just use common sense. Some people will edge around the rules, try and circumvent them. With time, you'll learn to spot these types of messages, and you can delete them before any real damage is done.
        </p>
        <hr>
        <p><strong>Make full use of whatever bot you have.</strong> </p>
        <p>This one is more pointed towards experienced, senior moderators, but feel free to read it even as a new moderator! This means a number of things. I've only ever really worked with Xanbot, but Xanbot has a ton of features most moderators simply don't know enough about. </p>
        <p>Here's a short list of what you can do with Xanbot v2:</p>
        <ol>
           <li>Autoban certain words.</li>
           <li>Autoban certain patterns.</li>
           <li>Autoban patterns in usernames (Only the streamer can access this command).</li>
           <li>Add auto-replies.</li>
           <li>Add !-commands.</li>
           <li>Create polls and votes.</li>
        </ol>
        <p>Now, no streamer or chat is ever going to make use of ALL these things, but explore possibilites, and see what can help!</p>
        <p>Also: If you have more than 100 viewers, and don't have a bot: Get a bot. Now. I recommend Xanbot v2.</p>
        <hr>
        <p><strong>Slowmode.</strong> </p>
        <p>Slowmode is useful for various different reasons. First of all, it lets the streamer read the chat without losing messages constantly. Second, it allows moderators to actually be able to click the messages they wish to delete. Third, it makes for a more pleasant experience for other chatters. Be careful though, because the higher the slowmode is, the worse it will be for the viewers.</p>
        <p>Smaller broadcasters will require no slow mode at all, 99% of the time.</p>
        <p>Large broadcasters will usually require slow mode, ranging from 10 seconds to 150. Viewers should still be able to interact somewhat with each other.</p>
        <p>Events will usually require fairly high slow modes, ranging from 100 to as much as 600. Remember though, at some point, slow modes will stop being effective, as messages will come from unique viewers.</p>
        <hr>
        <p><strong>Commands &amp; Autoreplies</strong></p>
        <p>This section only applies to those who choose to use a chatbot.</p>
        <p>Commands &amp; autoreplies are among the most useful things you can utilize as a moderator. They allow for large portions of text to be sent automatically when a user either poses a typical question, or queries a well known command.</p>
        <p>If you're a junior moderator on a stream, you generally shouldn't be worrying about adding and removing commands, but rather, just learn of the ones already in place, and utilize them.</p>
        <p>If you're a senior moderator, try to spot the typical questions that people ask. Either recognize the pattern of the question to add an autoreply, or create a command that answers the question. Eventually, people catch on and will start using the command on their own.</p>
        <p>That being said, ALWAYS make certain to have the permission of the broadcaster before you add or remove a command.</p>
        <hr>
        <p><strong>Learn to spot spam before it becomes spam.</strong> </p>
        <p>This one is hard sometimes, but it is possible to spot spam before it starts being spammed. There are a couple of dead giveaways, such as "don't copy paste this please", or a face followed by "(no space)". If a person copies another persons message, even it it doesn't break any of the rules, it's best to delete it, as others will follow if you don't. By doing this, it's possible to prevent spam before it actually happens.</p>
        <hr>
        <p><strong>Shape the chat.</strong> </p>
        <p>This is going to sound a bit odd, but viewers as a whole is a manipulable crowd. It's possible to shape the chat into a more pleasant experience, by interacting with it. Let's say, for example, that there's a flamewar against a certain player, or an argument between two different sides. </p>
        <p>This is the first trick I learned a as a moderator, by my senior. Distract them with an obvious question: "What champion do you think he's going to play next?", "Is &lt;item&gt; good on &lt;champion?", "Why is he going AP, instead of AD?". It won't always work, but when it does, it can completely shut down an argument or spam.</p>
        <p>Here you can see it in action: <a href="http://puu.sh/334Du/6f9f372462.png" class="imgScanned" type="IMAGE" name="img2">http://puu.sh/334Du/6f9f372462.png</a><a class="toggleImage expando-button collapsed collapsedExpando image commentImg">&nbsp;</a><span class="noCtrlF keyNavAnnotation" data-text="[1] " title="press 1 to open link"></span></p>
        <hr>
        <p><strong>Spam-waves.</strong></p>
        <p>When a message is repeated over and over again by a number of users, it's called a spamwave. There's generally only three things you can do when this happens.</p>
        <p>You can turn on subscribers only mode, which generally completely shuts down a chat, or at the very least limits it to a far smaller number of people. Bear in mind, for Events, this is generally a bad thing to toggle. Either keep it on or off, but don't toggle it. There are some technical details regarding this that I won't go into here.</p>
        <p>The best thing to do in my personal opinion is to silently remove as many messages as you can. Simply type /timeout or /ban for every user spamming you can see. Even if you're not catching every one, you're taking 1 spammer out of the equation for a little while every time you do, as well as discourage other viewers by letting them see messages being deleted.</p>
        <p>Do NOT make statements about the spam. Either carry on talking as normal, or remain silent. Any message being said about the issue will only serve to provoke trolls into behaving worse.</p>
        <p>Spam-waves generally dissipate within 5-20 minutes, when the trolls start losing steam.</p>
        <p>If you're on a small or large broadcast, there's also a third option.</p>
        <ol>
           <li>Turn subscriber-mode on with "/subscribers".</li>
           <li>Clear the chat with "/clear".</li>
           <li>Explain the issue (if the stream is down or lagging), or tell the crowd what the problem is (If a certain phrase is being spammed). Make certain to be respectful &amp; patient, but stern. </li>
           <li>Try turning subscriber-mode off, and see if behaviour has improved. If it doesn't..</li>
           <li>Turn subscriber-mode back on, and leave it on for a while until either the stream returns, or when you feel it's time to try letting them speak again.
              Never announce you'll turn subscriber-mode off, as this gives trolls time to prepare themselves to spam. Turn it off when they least expect it, such as in the middle of a game, when the chat is generally quite slow already.
           </li>
        </ol>
        <hr>
        <p><strong>Know your place.</strong> </p>
        <p>This boils down to a very simple concept. It's not your stream. As a moderator, you're simply enforcing the rules put down by the streamer him/herself. If they want a chat without rules, that's what you've got to do. If they want a chat where everything is moderated, that's what you've got to do. You don't make the rules. You only enforce them.</p>
        <hr>
        <p><strong>Utilize tools &amp; extensions.</strong></p>
        <p>I can personally recommend using the Chrome GeoTTV extension, to give slight improvements to the Twitch  chat. This includes things like a Purge button (1 second timeout), immediately loading timeout buttons, and other things.</p>
        <p>If you've got programming knowledge, don't be afraid of writing your own tools! I've personally written a chrome extension to add keyboard shortcuts for timeouts.</p>
        <hr>
        <p>If you've got any questions, please feel free to ask them! I'd be more than happy to help.</p>
      </div>
    </div>
  </body>
</html>
