{% include "./header.html" %}
<script src="../../js/guide.js"></script>
  <div class="row">
    <div class="col s8">
      <h1 id="guide-title"><a href="{{data.link}}">{{content.title}}</a></h1>
    </div>
    <div class="col s4">
      <span id="author-tagline"><p>Author: </p> {%if author\.flair %}<img src="../../img/{{flair}}.png" title="Subreddit Moderator" id="flair-img">{%endif%} <a href="/authors/{{data.author}}">{{content.author}}</a></span>
    </div>
    <div class="col s12" id="guide-body">
      {{content.body}}
    </div>
  </div>
</body>
</html>
