<html>
	<head>
		<title>/r/Twitch Subreddit Wiki</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="img/icon.png">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/6.0.0/markdown-it.js"></script>
		<script src="/js/header.js"></script>
	</head>
	<body class="grey darken-3">
		<div class="nav">
				<nav class="grey darken-4">
					<div class="nav-wrapper">
						<ul class="center">
							<li><a href="/">Home</a></li>
              <li><a href="/content/community">Community Content</a></li>
							<li><a href="/content/twitch">Official Content</a></li>
              <li><a href="/authors">Authors</a></li>
            </ul>
					</div>
				</nav>
		</div>
